.meniu-juosta {
    display: flex;
    background-color: bisque;
    border: 2px solid burlywood;
    height: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.mygtukas {
    background-color: blanchedalmond;
    border: 1px solid burlywood;
    padding: 5px;
    border-radius: 10px;
}

.trys-blokai {
    display: flex;
    height: 600px;
}

.kaire-sonine-juosta {
    flex-grow: 1;
    background-color: antiquewhite;
}

.desine-sonine-juosta {
    flex-grow: 1;
    background-color:cornsilk;
}

.turinys {
    flex-grow: 4;
    background-color: cadetblue;
}
